mixin worksItem(objData)
    .works-item
        img(src=objData.folderName + "/" +objData.imgName, alt="").works-item_img
        .works-item_caption
            .works-item_title Project Name
            .works-item_description User Interface Design