-
    var
        menuItems = [
            {
                name: 'features',
                dataDest: "._features",
            },
            {
                name: 'works',
                dataDest: "._works",
            },
            {
                name: 'our team',
                dataDest: "._team",
            },
            {
                name: 'testimonials',
                dataDest: "._testimonials",
            },
            {
                name: 'download',
                dataDest: "._download",
            }
        ];

-
    var
        teamItems = [
            {
                folderName: "img",
                imgName: "Layer 30.jpg",
                name: "Ruth Woods",
                position: "Founder, CEO",
                discript: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.",
            },

            {
                folderName: "img",
                imgName: "Layer 31.jpg",
                name: "Timothy Reed",
                position: "Co-Founder, Developer",
                discript: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.",
            },

            {
                folderName: "img",
                imgName: "Layer 32.jpg",
                name: "Victoria Valdez",
                position: "UI Designer",
                discript: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.",
            },

            {
                folderName: "img",
                imgName: "Layer 33.jpg",
                name: "Beverly Little",
                position: "Data Scientist",
                discript: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.",
            },

        ];

-
    var
        worksItems = [
            {
                folderName: "img",
                imgName: "Layer 35.jpg",
            },

            {
                folderName: "img",
                imgName: "Layer 36.jpg",
            },

            {
                folderName: "img",
                imgName: "Layer 37.jpg",
            },

            {
                folderName: "img",
                imgName: "Layer 38.jpg",
            },

            {
                folderName: "img",
                imgName: "Layer 39.jpg",
            },

            {
                folderName: "img",
                imgName: "Layer 40.jpg",
            },

            {
                folderName: "img",
                imgName: "Layer 41.jpg",
            },

            {
                folderName: "img",
                imgName: "Layer 42.jpg",
            },
        ];

-
    var
        footerItems = [
            {
                title: "location",
                content: "3481 Melrose Place Beverly Hills, CA 90210",
            },

            {
                title: "about activebox",
                content: "Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.",
            },
        ];

-
    var
        slickItems = [
            {
                folderName: "img",
                imgName: "Layer 19.jpg",
                text: "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo",
                name: "Susan Sims, Interaction Designer at XYZ",
            },

            {
                folderName: "img",
                imgName: "Layer 19_1.jpg",
                text: " Aliquam excepturi repellendus expedita voluptas nesciunt amet veniam facilis, rerum quo dignissimos accusantium hic! ",
                name: "Susan Sims, Interaction Designer at XYZ",
            },

            {
                folderName: "img",
                imgName: "Layer 19_2.jpg",
                text: "Doloribus nobis at ipsum autem ducimus totam ex nisi, delectus facere consequatur corporis perspiciatis consequuntur! ",
                name: "Susan Sims, Interaction Designer at XYZ",
            },

            {
                folderName: "img",
                imgName: "Layer 19_3.jpg",
                text: "Minima, ab doloremque adipisci aut illo totam nulla recusandae, fugiat hic fugit omnis unde consequuntur voluptatum. ",
                name: "Susan Sims, Interaction Designer at XYZ",
            },
        ];